.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__delete-button {
  position: absolute;
  background: transparent url(../images/Group-2.svg) center no-repeat;
  z-index: 5;
  width: 18px;
  height: 19.3px;
  top: 18px;
  left: 249px;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}
.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
.card__like-button_active {
  background-image: url(../images/likeButtonActive.svg);
}

@media screen and (max-width: 620px) {
  .card__list {
    padding: 20px;
  }
}
