.header {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  padding-top: 45px;
}

@media screen and (max-width: 620px) {
  .header {
    padding: 0 0 32px;
  }
}

/* @media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }
  .header::before {
    width: calc(100% + 40px);
  }
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 7px;
  }
} */
