.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 51px 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-column-gap: 18px;
}

.profile__edit-button {
  background: transparent url(../images/edit-vector.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin: 0;
  white-space: nowrap;
  border: 1px solid white;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__add-button {
  background: transparent url(../images/add-vector.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 1px solid white;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.5;
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

.avatar1 {
  position: relative;
  margin-right: 30px;
}

.avatar__button {
  /* content: " "; */
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/avatarEditIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  border: none;
  box-sizing: border-box;
}

.avatar__button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; /* Ensure background is transparent */
  border: none; /* Remove any default button borders */
  border-radius: 50%;
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  opacity: 0;
  outline: none; /* Remove the default focus outline */
}

.avatar__button:hover {
  background-image: url("../images/avatarEditIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.profile__image {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  /* margin-right: 30px; */
}

/* .profile__image:hover {
    color: #333;
    /* background-image: url("../images/add-vector.svg"); 
  }*/

/* .profile__image::after {
}

.profile__image:hover::after {
  opacity: 1 !important;
} */

/* .profile__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("../images/add-vector.svg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(255, 0, 0, 0.5);
  }

  .profile__image:hover::after {
    opacity: 1;
  } */

@media screen and (max-width: 940px) {
  .profile__info {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 775px) {
  .profile__name {
    font-size: 39px;
  }

  .profile__edit-button {
    margin-right: 8px;
  }

  .profile__image {
    margin-right: 10px;
  }

  .profile__add-button {
    width: 50px;
    height: 50px;
    border: 1px solid white;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 36px 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__name {
    font-size: 22px;
    max-width: 232px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 282px;
    justify-content: center;
    margin: 30px 0 36px 0;
  }

  .profile__description {
    text-align: center;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    border: 1px solid white;
  }

  .profile__add-button {
    background: transparent url(../images/add-vector.svg) center no-repeat;
    margin: 0;
    width: 282px;
    height: 50px;
  }
}
